 ! General
 urxvt*termName:  rxvt-256color
 urxvt*loginShell:         true
 urxvt*scrollBar:         false
 urxvt*secondaryScroll:    true
 urxvt*saveLines:         65535
 urxvt*cursorBlink:       true
 urxvt*urgentOnBell:       true
 !urxvt*override-redirect:false
 !urxvt*borderLess:       false
 !urxvt*internalBorder:       0
 !urxvt*externalBorder:       0
 
 urxvt.depth:	    32
 urxvt.background:  [80]#000000
 urxvt.foreground:  #EBEBFF

 !  - cursor
 urxvt*cursorColor: #8c8c8c

 ! - font
 urxvt*font:   xft:Terminus: size=10
! urxvt*font: 	xft:DejaVu Sans Mono: size=9
!h urxvt*faceName: Terminus:size=20
! urxvt*faceSize: 20

 !  - color scheme
 ! black + red
 !urxvt*color0:     #3f3f3f
 urxvt*color0:      #000000
 urxvt*color1:      #e01010
 ! green + yellow
 urxvt*color2:      #00AA00
 urxvt*color3:      #FFFF00
 ! blue + purple
 urxvt*color4:      #112037
 urxvt*color5:      #A020F0
 ! cyan + white
 urxvt*color6:      #5B5BC7
 urxvt*color7:      #fefefe
 ! bright-black + bright-red
 urxvt*color8:      #6a6a6a
 urxvt*color9:      #FF5555
 ! bright-green + bright-yellow
 urxvt*color10:     #90EE90
 urxvt*color11:     #ffff2f
 ! bright-blue + bright-purple
 urxvt*color12:     #5B5BC7
 urxvt*color13:     #e628ba
 ! bright-cyan + bright-white
 urxvt*color14:     #7D7DFB
 urxvt*color15:     #ffffff

 ------------------------------------------------------------------------------
 ! ROFI Color theme
 ! ------------------------------------------------------------------------------

 ! Use extended color scheme
 rofi.color-enabled:                  true
 ! Number of lines to display
 rofi.lines:					   10 
 ! Hide Scrollbar
 rofi.hide-scrollbar:			   true
 ! Terminal
 rofi.terminal:				   urxvt
 rofi.ssh-client:				   ssh
 rofi.ssh-command:				   {terminal} -e {ssh-client} {host}
 rofi.run-command:				   {cmd}
 rofi.run-shell-command:			   {terminal} -e {cmd}
 ! Color scheme for normal row
 rofi.color-normal:                   argb:00000000, #1aa, argb:11FFFFFF, #1aa,#333
 ! Color scheme for urgent row
 rofi.color-urgent:                   argb:00000000, #f99, argb:11FFFFFF, #f99,#333
 ! Color scheme for active row
 rofi.color-active:                   argb:00000000, #aa1, argb:11FFFFFF, #aa1,#333
 ! Color scheme window
 rofi.color-window:                   argb:ee333333, #1aa,#1aa
 ! Separator style (none, dash, solid)
 rofi.separator-style:                dash
